<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="robots" content="noindex, nofollow">
        <title>Page not found</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<style>
			.problem_title{font: 700 1.8rem 'Montserrat',sans-serif;}
			.problem_text{font: 400 1.4rem "Montserrat",sans-serif;}
		</style>
    </head>
    <body>
        <div>
            <span class="problem_title">Whatever you just did, apparently didn't work.</span>
            <div class="problem_text">
				<p>This page (which you may know of as a "404 page") usually appears if:</p>
				<ul>
					<li>you've clicked a link that's incorrect or out-of-date</li>
					<li>you typed in an address incorrectly</li>
				</ul>
				<p>Either way, go back to where you came from or go to <a href="{{ .Site.BaseURL }}">the homepage</a> and find your way from there.</p>
				<p>Have a good day.</p>
			</div>
        </div>
    </body>
</html>
