{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="centered_block">
		<article class="whbcit8_border whbcit8_borderradius whbcit8_yellowborder">
			<section class="whbcit8_title1 center_justified">
				<span>{{ .Site.Title }} <span class="whbcit8_yellow"> {{ .Site.Params.siteclass }}</span></span>
			</section>
			<section class="whbcit8_tagline center_justified">
				<span>{{ .Site.Params.tagline }}</span>
			</section>
			{{ range where .Data.Pages ".Params.timeless" "indexintro" }}
				{{ if eq .Title "indexintro" }}
				<section id="indexintro">
						{{ .Content }}
				</section>
				{{ end }}
			{{ end }}
			{{if lt 0 (len (where .Data.Pages ".Params.timeless" "=" "true"))}}
			<section id="post_index">
				<span class="whbcit8_title2">Pages:</span>
				<ul id="page_list">
				{{ range (where .Data.Pages ".Params.timeless" "=" "true") }}{{ .Render "postsummary" }}{{ end }}
				</ul>
			</section>
			{{end}}
			{{if lt 0 (len (where .Data.Pages ".Params.timeless" "=" "false"))}}
			<section id="blog_index">
				<span class="whbcit8_title2">Posts:</span>
				<ul id="post_list">
					{{ range (where .Data.Pages ".Params.timeless" "=" "false") }}{{ .Render "postsummary" }}{{ end }}
				</ul>
			</section>
			{{end}}
		</article>
	{{ partial "indexfooter.html" . }}
	</div>
</body>
</html>